@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");

body{
    font-family: 'Poppins', sans-serif;
}
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/lapangan.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    height: 90vh;
    width: 100%;

}
.navbar-nav .nav-item .nav-link {
    color: #333;
    font-weight: 500;
    font-size: 16px; 
    transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #34a55a; 
    border: 1px solid #25d366;
}



.logo {
    max-width: 150px; /* Sesuaikan dengan ukuran logo Anda */
}

.headline {
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
}

.program {
    transition: box-shadow 0.3s ease; /* Animasi perubahan bayangan saat hover */
    padding: 10px 16px;
    border-radius: 16px;
    border: 2px solid #25d366;
}

/* CSS untuk mengubah efek bayangan saat mouse hover */
.program:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    color: #fff;
}

.scroll-to-top i {
    font-size: 24px;
}
/* Gaya untuk tombol WhatsApp */
.whatsapp-btn {
    display: none;
    position: fixed;
    bottom: 80px; /* Sesuaikan dengan posisi yang Anda inginkan */
    right: 20px;
    z-index: 99;
    width: 50px;
    height: 50px;
    background-color: #25d366; /* Warna hijau WhatsApp */
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    color: #fff;
}

.whatsapp-btn a {
    text-decoration: none;
}

.whatsapp-btn i {
    font-size: 24px;
}
.btn-cta{
    border-radius: 64px;
    padding: 12px 32px;
    font-weight: 500;
}
